// Import variables
@import "variables";

[v-cloak] {
    display: none;
}

.content {
    padding: $gutter_default;
}

.blocks {
    .border-top {
        border-color: darken($color1, 4) !important;
    }
}

.flex-grow {
    flex: 1;
}

.no-padding {
    padding: 0 !important;
}

.full-viewport-height {
    min-height: 100vh;
}

.text-spaced {
    letter-spacing: 0.2rem; 
}

.text-big {
    font-size: 1.3rem;
}

.font-default {
    font-family: $fontfamily_default;
}

.font-heading {
    font-family: $fontfamily_heading;
}


