// Import variables
@import "variables";

[v-cloak] {
    display: none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.content {
    padding: $gutter_default;
}

.blocks {
    .border-top {
        border-color: darken($color1, 4) !important;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.flex-grow {
    flex: 1;
}

.no-padding {
    padding: 0 !important;
}

.full-viewport-height {
    min-height: 100vh;
}

.text-spaced {
    letter-spacing: 0.2rem; 
}

.text-big {
    font-size: 1.3rem;
}

.text-small {
    font-size: 0.9rem;
}

.font-default {
    font-family: $fontfamily_default;
}

.font-heading {
    font-family: $fontfamily_heading;
}

.bg-white {
    background-color: $color_white;
}

.border-white {
    border: 1px solid $color_white;
}

.border-grey {
    border: 1px solid $color_greylight;
}
