.color1 {
  color: #324D5C; }

.color2 {
  color: #009494; }

.color3 {
  color: #454445; }

.color4 {
  color: #F5F2DC; }

.color5 {
  color: #DE5B49; }

.color6 {
  color: #F0CA4D; }

.color7 {
  color: #FA8658; }

.color8 {
  color: #5BB59F; }
