[v-cloak] {
  display: none; }

.content {
  padding: 20px; }

.blocks .border-top {
  border-color: #2b424f !important; }

.flex-grow {
  flex: 1; }

.no-padding {
  padding: 0 !important; }

.full-viewport-height {
  min-height: 100vh; }

.text-spaced {
  letter-spacing: 0.2rem; }

.font-default {
  font-family: "Open Sans", Helvetica, Calibri, sans-serif; }

.font-heading {
  font-family: "Josefin Sans", Helvetica, Calibri, sans-serif; }
